name: JMeter CI - Performance Tests

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:

jobs:
  jmeter:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21 (LTS)
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Download Apache JMeter
        run: |
          JMETER_VERSION="5.6.3"
          curl -L -o apache-jmeter.tgz "https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-${JMETER_VERSION}.tgz"
          tar -xzf apache-jmeter.tgz
          echo "$PWD/apache-jmeter-${JMETER_VERSION}/bin" >> $GITHUB_PATH
          jmeter -v
          - name: Verify JMeter
          run: |
            "$JMETER_HOME/bin/jmeter" -v

      - name: Run JMeter Test Plans (non-GUI)
        run: |
          mkdir -p results/jtl results/reports

          "$JMETER_HOME/bin/jmeter" -n -t test-plans/smoke-baseline-jsonplaceholder.jmx -l results/jtl/smoke.jtl
          "$JMETER_HOME/bin/jmeter" -g results/jtl/smoke.jtl -o results/reports/smoke-report

          "$JMETER_HOME/bin/jmeter" -n -t test-plans/load-steady-jsonplaceholder.jmx -l results/jtl/load.jtl
          "$JMETER_HOME/bin/jmeter" -g results/jtl/load.jtl -o results/reports/load-report

          "$JMETER_HOME/bin/jmeter" -n -t test-plans/stress-ramp-jsonplaceholder.jmx -l results/jtl/stress.jtl
          "$JMETER_HOME/bin/jmeter" -g results/jtl/stress.jtl -o results/reports/stress-report
          
      - name: Upload JMeter Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-html-reports
          path: results/reports

      - name: Upload JTL Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-jtl-results
          path: results/jtl
